body * {
  /* font-family: iranSansFaNum; */
  /* background-color: #f7f7f8; */
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maxW-100 {
  max-width: 100%;
}

.bg-whit-100 {
  background-color: #f7ecf6;
}

.text-whit-100 {
  color: #f7ecf6;
}

.bgGhost:hover {
  background-color: #f0b778;
}

/* side bar */
.sideCount {
  background: linear-gradient(0deg, #ec7d46 0%, #eca650 100%);
}
